name: ActionCallAPI

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@master
    
    - name: Set Up .NetCore
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.102'
    
    - name: Build with dotnet
      run: |
        cd api-studying/SupermercadoAPI/src/Supermercado.API/
        dotnet build

    - name: dotnet publish
      run: |
        cd api-studying/SupermercadoAPI/src/Supermercado.API/
        dotnet run
